@import '~antd/dist/antd.css';

.page__wrapper{
    margin: 0 auto;
    /* max-width: 35vh; */
    width: 100%;
    margin-top: -50px;
}

.page__content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#card{
    opacity: 0.9;
}
#card:hover{
    opacity: 1;
}

.left__column{
    width: 100%;
    padding: 5px;
    height: auto;
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;

}

.column__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.middle{
    width: 100%;
    margin: 50px 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map__wrapper{
    margin: 5px;
    width: auto;
    border-radius: 10px;
    height: auto;
    transition: all .2s ease-in-out;
    opacity: 0.8;
}

.map__wrapper:hover{
    /* border: 1px dashed slateblue; */
    opacity: 1;
}

.map__content{
    width: auto;
    height: auto;
}

.map__content img{
    width: 100%;
    border-radius: 10px;
    background-size: cover;
}

.footer{
    position: relative;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    /* border: 1px solid chocolate; */
    height: auto;
    background: linear-gradient(45deg, #2c2c2c,#4c4c4c);
    animation: ftbg  2s infinite forwards;
    border-radius: 5px 5px 5px 5px;
    /* transition: all 2s ease-in-out; */
}

.footer.personal{
    margin-top: 15%;
    background: linear-gradient(90deg, #2c2c2c,#4c4c4c);
    width: auto;
}

.footer.orar{
    margin-top: 15%;
    margin-bottom: 0;
    top: 12vh;
}

.footer__content{
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    height: 80%;
    width: auto;
    /* border: 1px dashed cyan; */
}

.footer__socials{
    width: 15%;
    height: auto;
    /* border: 1px dashed cyan; */
}

.footer__info{
    /* border: 1px dashed cyan; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.info__left{
    margin: 0 15px 0 10px;
    width: 45%;
    /* border: 1px dashed pink; */
    height: auto;
}

.info__left span{
    color: orange;
}



.info__right{
    width: 45%;
    /* border: 1px dashed orange; */
    height: auto;
}


.info__right span{
    color: orange;
    /* text-decoration:wavy; */
}


/* -----------Personal--------- */



.accordion__wrapper{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.accordion__left{
margin-right: 10px;
}


.accordion{
    width: 100%;
    background-color: black;
    color: cyan;
    position: relative;
}

.accordion__item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
    margin: 5px 0;
}

.item__role{
    color:#3F51B5 ;
    font-weight: 500;
    width: 35%;
    margin-right: 2px;
}

.item__name{
width: 40%;
font-weight: 500;
margin-left: 5px;
}

.item__info{
    width: 25%;
}






















/* -----------Responsivity--------- */

@media screen and (max-width:1080px) {
  .accordion{
      width: 450px;
  }
    
}


@media screen and (max-width:720px) {
    .accordion{
        width: 350px;
    }
      
  }

  @media screen and (max-height: 700px){
    .page__wrapper{
        margin-top: -10px;
    }
}