@import '~antd/dist/antd.css';

.page__wrapper{
    margin: 0 auto;
    /* max-width: 35vh; */
    width: 90%;
    margin-top: -50px;
}

.page__welcome{
    width: 100%;
    text-align: center;
    border: 1px solid cyan;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.page__welcome h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.page__content{
    width: 100%;
    border: 1px solid springgreen;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.left__column{
    margin: 5px;
    width: 30%;
    border: 1px solid palevioletred;
    padding: 5px;
    height: 150px;
}

.right__column{
    margin: 5px;
    width: 65%;
    border: 1px solid maroon;
    height: 200px;
}

.map__wrapper{
    margin: 5px;
    width: 100%;
    border: 1px dashed slateblue;
    height: 150px;
}

.footer{
    margin: 5px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid chocolate;
    height: 500px;

}
































.accordion{
    width: 550px;
    background-color: black;
    color: cyan;
    position: relative;
    
}

.accordion__item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



























@media screen and (max-width:1080px) {
  .accordion{
      width: 450px;
  }
    
}


@media screen and (max-width:720px) {
    .accordion{
        width: 350px;
    }
      
  }

  @media screen and (max-height: 700px){
    .page__wrapper{
        margin-top: -10px;
    }
}